@import "../../styles/styles.scss";


.testimonials{
  color :$c-white;
  @include flex-center;
  flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.8)),url(../../../public/assets/images/images23.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 80vh;
    padding: 0;
    &__title{
      margin: $m-base auto 0;
      text-align: center;
      font-size: 1.9rem;
      position: relative;
      padding-bottom: 1rem;
      &::after{
        content: "";
        position: absolute;
        background-color: rgb(241, 241, 233);
        display: block;
        height: 3px;
        width: 10rem;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1rem auto 0;
      }
      @include tablet-query{
        width: 60%;
        font-size: 1.9rem;
      }
      @include laptop-query{
        width: 60%;
        font-size: 2.1rem;
      }
      @include laptop-l-query{
        width: 60%;
        font-size: 2.4rem;
      }
    }
    &__nav{ 
      width: 40%;
      height: 90px;
      @include  flex-space-bteween;
      
  }
  &__btn{
    @include paperStyleShadow;
    border: 1px solid black;
    color:$c-white;
    padding: .5rem;
    border-radius: .6rem;
    background-color: $c-light-body;
    margin: $m-base 0;
    &:hover{
      background-color:#6E4A9E ;
    }
   
  }
  &__btn a{
    color: $c-white;
    text-decoration: none;
  }
}
.testimonials__nav__angle__left,.testimonials__nav__angle__right{
  background-color: transparent;
  border: none;
  
}
.testimonials__nav__icon__left,.testimonials__nav__icon__right{
filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg)
brightness(228%) contrast(100%);
}
.main__testimonials{
  overflow: hidden;
  width: 100%;
  height: 264px;
  display: flex;
  padding: $p-base;
  margin-bottom: 1rem;
@include tablet-query{
  width: 60%;
  font-size: 1.2rem;
}
@include laptop-query{
  width: 60%;
  font-size: 1.3rem;
}
@include laptop-l-query{
  width: 60%;
  font-size: 1.7rem;
}
  &__card{
    width: 100%;
    margin: 0 auto;
    @include flex-center;
    flex-direction: column;
    // transform: translateX(-500px);
    // display: none;
  &__holder{
    width: 100%;
  @include flex-center;
  }
  &__img{
    width: 40px;
    height: 40px;
    border: 1px solid hsl(0deg, 0%, 100%);
    border-radius: 50%;
  }
  &__cont{
  margin: 0 auto;
  max-height:70% ;
  text-align: center;

  }
  &__name{
   margin: 0;
   @include tablet-query{
    font-size: 1.2rem;
  }
  }
  &__copy{
    width: 100%;
    text-align: center;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
}
.showComments {
  display: flex;
  transform: translateX(0);
  @include laptop-query {
      display: block;
      margin: 0;
  }
}
.fa-capsules,.fa-solar-panel,.fa-hands-holding-child,.fa-briefcase{
  width: 70px;
  height:22px;
  color: $c-dark-green;
}
