/***********************
* COLORS
************************/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/*******************
* MEDIA QUERIES
********************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Kumbh";
}

.content {
  padding: 5rem 0 0 0;
  min-height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1020px) {
  .container {
    height: 680px;
  }
}
.container__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 20%;
  z-index: 10;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .container__btn {
    top: 40%;
  }
}
@media screen and (min-width: 1020px) {
  .container__btn {
    top: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .container__btn {
    top: 45%;
  }
}
.container__prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__prev:hover {
  color: hsl(357.84deg, 88.99%, 42.75%);
}
.container__next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  right: 1%;
  color: rgb(246, 238, 238);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__next:hover {
  color: rgb(236, 24, 31);
}
.container__carousel {
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.container__carousel::-webkit-scrollbar {
  display: none;
  height: 0;
  width: 0;
}
.container__carousel__item {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 0 100%;
  scroll-snap-align: start;
}
.container__carousel__img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container__carousel__title {
  color: hsl(265.71deg, 36.21%, 45.49%);
  font-family: "Kumbh Sans";
  border-radius: 7px;
  position: absolute;
  text-align: center;
  bottom: 0;
  text-transform: capitalize;
  inset: auto 0 0 0;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 4rem;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 70%;
  max-height: 34%;
  margin: 0 1rem 2rem;
}
@media screen and (min-width: 768px) {
  .container__carousel__title {
    padding: 2rem;
    text-align: center;
    max-width: 51%;
    height: 21%;
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1020px) {
  .container__carousel__title {
    max-width: 51%;
    height: 21%;
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=HomeSlider.module.css.map */