@import "../../styles/styles.scss";

.main__hero{
  margin: 0 auto;
  padding: $p-base*3 $p-base 0 $p-base;
}
.hero__title{
  @include font-family-normal;
  width: 100%;
  display: inline-block;
  font-weight: 900;
  font-size: 1.6rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: $c-deep-red;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem auto;
  position: relative;
  padding-bottom:1rem ;

&::after{
      content: "";
      position: absolute;
      background-color: $c-deep-red;
      display: block;
      height: 3px;
      width: 10rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 1rem auto 0;
}
}
.hero__body{
  @include font-family-normal;
      width: 80%;
      font-size: .91rem;
      font-weight: $fw-normal;
      text-align: center;
      display: block;
      color: $c-light-body;
      letter-spacing: .5px;
      margin: 0 auto 4rem;
}
.service__container{
  max-width: 56.25em;
  display: flex;
  flex-wrap: wrap;
  @include tablet-query{
     max-width: 100%;
     margin: 0 auto;
  }
  @include laptop-query{
      max-width: 100%;
      height: 500px;
      flex-wrap: nowrap;
  }
}
.service__card{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  height: 13rem;
  margin-bottom: 2rem;
  margin-right: 0;
  background-color: $c-light-gray-back;
  border-radius: .5rem;
  // transform: scale(.9);//later
  @include tablet-query{
      flex: 0 0 48%;
      padding: 0 1rem;
      height: 15rem;
      margin: 1rem auto 1rem;
  }
  @include laptop-query{
    flex: 0 0 24%;
    padding: 0 1rem;
    height: 15rem;
    margin: 1rem auto 1rem;
}
@include laptop-l-query{
  flex: 0 0 24%;
  padding: 0 1rem;
  height: 15rem;
  margin: 1rem auto 1rem;
  &:nth-child(2){
    transform:translateY(50px);
}
&:nth-child(3){
    transform:translateY(100px);
}
&:nth-child(4){
  transform:translateY(150px);
}
}
  }
.FontAwesomeIcon{
  color: $c-deep-red;
  padding: $p-base
}
.service__card__title{
  @include font-family-normal;
  text-transform:capitalize;
  color:$c-light-body;
}
.service__card__body{
  @include font-family-normal;
  width: 70%;
  width: 80%;
  font-size: .91rem;
  font-weight: $fw-normal;
  text-align: center;
  color: $c-light-body;
  letter-spacing: .5px;
}
.type{
  width: 100%;
  margin: $m-base*3 auto;
  padding: 0 1rem 0 1rem;
  @include flex-center;
  flex: 0 0 100%;
  flex-wrap: wrap;
  @include font-family-normal;
  color: $c-light-body;
  font-weight: $fw-normal;
  @include laptop-query{
      background-color: $c-light-gray-back;
      width:89%;
      flex-direction: row;
      flex: 0 0 300%;
      justify-content: space-around;
      padding: 0;
  }
  &__picture__container{
      background-color: $c-light-gray-back;
      width: 100%;
      @include laptop-query{
          width: 65%;
          height: 23rem;
          background-color: $c-light-gray-back;
      }
  }
  &__card__img{
      width: 100%;
        height: 100%;
  }
  &__body__container{
      background-color: $c-light-gray-back;
      width: 100%;
      padding: 1rem;
      @include laptop-query{
          width: 35%;
      }
  }
  &__title{
      font-weight: $fw-normal;
      text-align: center;
      padding: $p-base;
      margin: 0 auto;
      color: $c-deep-red;
      font-family: $fw-bold;
      font-size: 1.91rem;
  }
  &__copy{
      text-align: center;
      text-align: center;
      background-color: $c-light-gray-back;
      letter-spacing: .5px;
      font-size: .91rem;
  }
}


.card__container{
  width: 100%;
  padding: $p-base*2  $p-base;
  @include tablet-query{
      justify-content: center;
      align-items: center;
  }
  @include laptop-query{
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
}

}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:0;
  margin: $m-base*2 0;
  position: relative;
  min-height: 117.78px;
  @include paperStyleShadow;
  &:nth-child(odd){
    background-color:$c-deep-red;

   }
  &:nth-child(even){
    background-color: #6d6c6f;

  }
  &:hover{
      filter: grayscale(0%);
  }
  @include tablet-query{
      width: 75%;
      margin: $m-base auto;
  }
  @include laptop-query{
    width: 48%;
      flex-direction: row-reverse;
      &:nth-child(even){
          flex-direction: row;
      }
  }
  @include laptop-l-query{
   width: 30%;

}
  &__img{
  width: 100%;
  max-height: 215.7px;
  @include laptop-query{
    width:47%;
      margin: $m-base;
  }
  &:hover{
      filter: grayscale(0%);
  }
}
  &__body{
    @include font-family-normal;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-height:100%;
      width: 100%;
      color: $c-white;
      @include laptop-query{
          height: 215.7px;
          margin: $m-base;
      }
      &-title{
          @include font-family-normal;
          text-align: center;
          margin: 0;
          padding: $p-base*.5;
      }
      &-copy{
          @include font-family-normal;
          text-align: center;
          padding: $p-base;
          margin: 0;
      }
  }
  &__btn__pure{
      @include font-family-normal;
      @include paperStyleShadow;
      border: 1px solid $c-white;
      border-radius: 8px;
      padding:$p-base*.3 $p-base;
      position: absolute;
      top: 51%;
      left: 7%;
      display: block;
      background-color:$c-deep-red;
      color: $c-white;
      text-transform: capitalize;
      font-weight: $fw-bold;
      z-index: 3;
      @include laptop-query{
        top: 76%;
          left: 66%;  
     }
    }
  &__btn__pure:hover{
      color: $c-deep-red;
      background-color: $c-new-back-ground-color;
    }
  &__btn__link__pure{
      text-decoration: none;
      color: $c-banana-sim-black;
      text-transform: capitalize;
  }
}

.card__btn__pure,.card__btn__lemon,.card__btn__thieves{
  
    // top: 76%;
    //   left: 8%;  

  @include laptop-query{
    top: 76%;
      left: 8%;  
 }
 @include laptop-l-query{
  top: 78%;
    left: 7%;
}
}
.testimonials{
  color :$c-white;
  @include flex-center;
  flex-direction: column;
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.8)),url(../../../public/assets/images/images23.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 80vh;
    padding: 0;
    &__title{
      margin: $m-base auto 0;
      text-align: center;
      font-size: 1.9rem;
      position: relative;
      padding-bottom: 1rem;
      &::after{
        content: "";
        position: absolute;
        background-color: rgb(241, 241, 233);
        display: block;
        height: 3px;
        width: 10rem;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 1rem auto 0;
      }
      @include tablet-query{
        width: 60%;
        font-size: 1.9rem;
      }
      @include laptop-query{
        width: 60%;
        font-size: 2.1rem;
      }
      @include laptop-l-query{
        width: 60%;
        font-size: 2.4rem;
      }
    }
    &__nav{ 
      width: 40%;
      height: 90px;
      @include  flex-space-bteween;
      
  }
  &__btn{
    @include paperStyleShadow;
    border: 1px solid black;
    color:$c-white;
    padding: .5rem;
    border-radius: .6rem;
    background-color: $c-light-body;
    margin: $m-base 0;
    &:hover{
      background-color:#6E4A9E ;
    }
   
  }
  &__btn a{
    color: $c-white;
    text-decoration: none;
  }
}
.testimonials__nav__angle__left,.testimonials__nav__angle__right{
  background-color: transparent;
  border: none;
  
}
.testimonials__nav__icon__left,.testimonials__nav__icon__right{
filter: invert(100%) sepia(125%) saturate(88%) hue-rotate(18deg)
brightness(228%) contrast(100%);
}
.main__testimonials{
  overflow: hidden;
  width: 100%;
  height: 264px;
  display: flex;
  padding: $p-base;
  margin-bottom: 1rem;
@include tablet-query{
  width: 60%;
  font-size: 1.2rem;
}
@include laptop-query{
  width: 60%;
  font-size: 1.3rem;
}
@include laptop-l-query{
  width: 60%;
  font-size: 1.7rem;
}
  &__card{
    width: 100%;
    margin: 0 auto;
    @include flex-center;
    flex-direction: column;
    transform: translateX(-500px);
    display: none;
  &__holder{
    width: 100%;
  @include flex-center;
  }
  &__img{
    width: 40px;
    height: 40px;
    border: 1px solid hsl(0deg, 0%, 100%);
    border-radius: 50%;
  }
  &__cont{
  margin: 0 auto;
  max-height:70% ;
  text-align: center;

  }
  &__name{
   margin: 0;
   @include tablet-query{
    font-size: 1.2rem;
  }
  }
  &__copy{
    width: 100%;
    text-align: center;
    overflow-y: auto;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}
}
.showComments {
  display: flex;
  transform: translateX(0);
  @include laptop-query {
      display: block;
      margin: 0;
  }
}
.fa-capsules,.fa-solar-panel,.fa-hands-holding-child,.fa-briefcase{
  width: 70px;
  height:22px;
  color: $c-dark-green;
}
