@import "../../styles/styles.scss";

.section{
    width: 100%;
    height: 100vh;

&__main{
    border: 2px solid $c-deep-red;
    width: 90%;
    height:40rem;
    margin: 0 auto;
    @include laptop-query{
        width:50%;
    }

}

}
.login{
    width: 100%;
padding: 3rem;    
    @include flex-start;
    flex-direction: column;
    
    &__box{
        border: 2px solid $c-deep-red;
        @include flex-center;
        padding: .4rem;
        width: 200px;
        border-radius: 15px;

    
    &__boxCard{
        @include flex-center;
        width: 100%;


    }
}
}
.login__form{
    @include font-family-normal;
    width: 0;
    height:0;
    visibility:hidde;
    &__boxBtn{
        @include font-family-normal;
        @include flex-around;
        width:208px;
        height:31px;
        position: relative;
        background: hsl(0deg, 0%, 100%);
        cursor: grab;
        border-radius: 200px;
        box-shadow: inset 0px 15px 65px rgba(128, 36, 36, 0.2), inset 0px -5px 15px rgb(255 255 255 / 40%);
        transition:.4s;
        &::before{
            content: "";
            width: 50%;
            height: 24px;
            border-radius: 180px;
            position: absolute;
            top: 3px;
            left: -26px;
            box-shadow: inset 0px 42px 15px rgb(218, 36, 36), inset 0px 0px 14px rgb(255 255 255 / 40%);
            transition: 0.4s;
            transform: translateX(30px);
        }
        &__toggleLogin{
            color:rgb(65, 63, 63);
            left:0;
            transition: .4s;
            left:5px;
            top:7px;
            border: none;
            color:$c-deep-red;

        }
        &__toggleRegister{
            color:$c-deep-red;
            left:36px;       
             top:7px;
            transition: .4s;
            border: none;
            background-color: none;
        }
    }
}

.login__form__boxBtn__register{
    @include font-family-normal;
    @include flex-around;
    width:208px;
    height:31px;
    position: relative;
    background: hsl(0deg, 0%, 100%);
    cursor: grab;
    border-radius: 200px;
    box-shadow: inset 0px 15px 65px rgba(128, 36, 36, 0.2), inset 0px -5px 15px rgb(255 255 255 / 40%);
    transition:.4s;
    &::before{
        content: "";
        width: 50%;
        height: 24px;
        border-radius: 180px;
        position: absolute;
        top: 3px;
        left: -26px;
        box-shadow: inset 0px 42px 15px rgb(218, 36, 36), inset 0px 0px 14px rgb(255 255 255 / 40%);
        transition: 0.4s;
        transform: translateX(126px);
    }
}
.login__form__boxBtn__toggleRegister .login__form__boxBtn__toggleLogin{
    position: absolute;
    width: 15.5px;
    top:0;
    z-index: 100;
}
.form__container{
    width: 100%;
    // border: 2px solid green;
    @include flex-start;
    margin: 3rem;
    position: relative;

}
.form__input{
    @include font-family-normal;
    top:180px;
    position: absolute;
    width: 100%;
    transition: .5s;
transform: translateX(0);
@include tablet-query{
    width:50%;
}
@include laptop-query{
    width:55%;
}
&__title{
    font-size:1.2rem;
    color: $c-deep-red;
}
&__user{
    width:100%;
    padding:$p-base*.4 ;
    margin: 5px 0;
    border: .6px solid $c-grayish-blue;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
}
&__filed{
    width:100%;
    padding:$p-base*.4 ;
    margin: 5px 0;
    border: .6px solid $c-grayish-blue;
    border-radius: 3px;
    outline: none;
    background-color: transparent;
}
&__check__box{
    margin: $m-base;
}
&__check__span__login{
 color: $c-deep-red;
 font-size:12px;
 position: absolute;
 bottom: 63px;
 left:8%;
}
&__check__span__registration{
    color: $c-deep-red;
    font-size:12px;
    position: absolute;
    bottom: 66px;
   }
&__submit__btn{
    width:50%;
    padding: 9px 4px;
    cursor: pointer;
    display: block;
    margin:  auto;
    margin: 1rem;
    border: 0;
    color: $c-white;
    background-color: $c-deep-red;
    outline: none;
    border-radius: 30px;
    @include laptop-query{
        width:60%;
    }
}
}
#login__btn{
    left: 20px;
}
#regiter__btn{
    left: 420px;
}
.move__out{
    transform: translateX(-300px) ease-out;
    opacity: 0;
}
.move__in{
    transform: translateX(-400px) ;
    opacity: 1;
}
.slide{
    transform: translateX(120px);
}
