/***********************
* COLORS
************************/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;500;600&display=swap");
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/*******************
* MEDIA QUERIES
********************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kumbh";
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v11/c4mw1n92AsfhuCq6tVsaoIx1CHIi4kToNopqShNBVo0iPw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
/***********************
* DEVICES
************************/
/***********************
* COLUMN
************************/
/*******************
* SPACING
********************/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Kumbh";
}

body.modal {
  height: 100vh;
  overflow-y: hidden;
}

.content {
  padding: 5rem 0 0 0;
  min-height: 100%;
}

.section {
  width: 100%;
  height: 100vh;
  margin-bottom: 4rem;
}
.section__main {
  border: 2px solid hsl(357.84deg, 88.99%, 42.75%);
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}
@media screen and (min-width: 1020px) {
  .section__main {
    width: 50%;
  }
}

.login {
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.login__box {
  border: 2px solid hsl(357.84deg, 88.99%, 42.75%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  width: 200px;
  border-radius: 15px;
}
.login__box__boxCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login__form {
  font-family: "Kumbh Sans";
  width: 0;
  height: 0;
  visibility: hidde;
}
.login__form__boxBtn {
  font-family: "Kumbh Sans";
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 208px;
  height: 31px;
  position: relative;
  background: hsl(0deg, 0%, 100%);
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 200px;
  box-shadow: inset 0px 15px 65px rgba(128, 36, 36, 0.2), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  transition: 0.4s;
}
.login__form__boxBtn::before {
  content: "";
  width: 50%;
  height: 24px;
  border-radius: 180px;
  position: absolute;
  top: 3px;
  left: -26px;
  box-shadow: inset 0px 42px 15px rgb(218, 36, 36), inset 0px 0px 14px rgba(255, 255, 255, 0.4);
  transition: 0.4s;
  transform: translateX(30px);
}
.login__form__boxBtn__toggleLogin {
  color: rgb(65, 63, 63);
  left: 0;
  transition: 0.4s;
  left: 5px;
  top: 7px;
  border: none;
  color: hsl(357.84deg, 88.99%, 42.75%);
}
.login__form__boxBtn__toggleRegister {
  color: hsl(357.84deg, 88.99%, 42.75%);
  left: 36px;
  top: 7px;
  transition: 0.4s;
  border: none;
  background-color: none;
}

.login__form__boxBtn__register {
  font-family: "Kumbh Sans";
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 208px;
  height: 31px;
  position: relative;
  background: hsl(0deg, 0%, 100%);
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 200px;
  box-shadow: inset 0px 15px 65px rgba(128, 36, 36, 0.2), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  transition: 0.4s;
}
.login__form__boxBtn__register::before {
  content: "";
  width: 50%;
  height: 24px;
  border-radius: 180px;
  position: absolute;
  top: 3px;
  left: -26px;
  box-shadow: inset 0px 42px 15px rgb(218, 36, 36), inset 0px 0px 14px rgba(255, 255, 255, 0.4);
  transition: 0.4s;
  transform: translateX(126px);
}

.login__form__boxBtn__toggleRegister .login__form__boxBtn__toggleLogin {
  position: absolute;
  width: 15.5px;
  top: 0;
  z-index: 100;
}

.form__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem;
  position: relative;
}

.form__input {
  font-family: "Kumbh Sans";
  top: 180px;
  position: absolute;
  width: 100%;
  transition: 0.5s;
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .form__input {
    width: 50%;
  }
}
@media screen and (min-width: 1020px) {
  .form__input {
    width: 55%;
  }
}
.form__input__title {
  font-size: 1.2rem;
  color: hsl(357.84deg, 88.99%, 42.75%);
}
.form__input__control {
  margin: 1rem 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.form__input__control__control input {
  width: 100%;
  padding: 0.4rem;
  margin: 5px 0;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  flex: 3;
}
.form__input__control__control input:focus {
  outline: none;
  border-color: #4f005f;
}
.form__input__control .form__input__invalid input {
  border-color: red;
}
.form__input__check__box {
  margin: 1rem;
}
.form__input__check__span__login {
  color: hsl(357.84deg, 88.99%, 42.75%);
  font-size: 12px;
  position: absolute;
  bottom: 63px;
  left: 8%;
}
.form__input__check__span__registration {
  color: hsl(357.84deg, 88.99%, 42.75%);
  font-size: 12px;
  position: absolute;
  bottom: 66px;
}
.form__input__submit__btn {
  width: 50%;
  padding: 9px 4px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin: 1rem;
  border: 0;
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(357.84deg, 88.99%, 42.75%);
  outline: none;
  border-radius: 30px;
}
@media screen and (min-width: 1020px) {
  .form__input__submit__btn {
    width: 60%;
  }
}

#login__btn {
  left: 20px;
}

#regiter__btn {
  left: 420px;
}

.move__out {
  transform: translateX(-300px) ease-out;
  opacity: 0;
}

.move__in {
  transform: translateX(-400px);
  opacity: 1;
}

.slide {
  transform: translateX(120px);
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}/*# sourceMappingURL=logInHero.module.css.map */