@import "../../styles/styles.scss";

.container{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include laptop-query{
    height: 680px;
  }
  &__prev{
    position: absolute;
    left: 1%;
    font-size: 1.4rem;
    color:$c-white;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    text-align: center;
   @include laptop-query{
     top:35%;

   }
   &:hover{
     color:$c-deep-red;
   }
 }
 &__next{
     position: absolute;
     right: 1%;
     font-size: 1.4rem;
     color:rgb(246, 238, 238);
     z-index: 2;
     cursor: pointer;
     user-select: none;
     text-align: center;
   &:hover{
     color:rgb(236, 24, 31)
   }
 }
  &__carousel{
    display: flex;
    height: 100%;
    width:100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
      display: none;
      height: 0;
      width: 0;
    }
    &__item{
      display: flex;
      position: relative;
      flex-direction: column;
      flex:1 0 100%;
      scroll-snap-align: start;
    }
    &__img{
      max-width:100%;
      max-height:100%;
      object-fit: cover;
    }
    &__title{
      color: $c-dark-green;
      @include font-family-normal;
      border-radius: 7px;
      position: absolute;
      text-align: center;
      bottom: 0;
      text-transform: capitalize;
      inset: auto 0 0 0;
      font-size:  1rem;
      padding: 1rem ;
      margin-bottom: 4rem;
      background-color: rgba(255, 255, 255, .9);
      max-width: 70%;
      max-height: 34%;
      margin: 0 1rem 2rem;
      @include tablet-query{
        padding: 2rem ;
        text-align: center;
        max-width: 51%;
        height: 21%;
        font-size:1.7rem;

      }
      @include laptop-query{
        max-width: 51%;
        height: 21%;
        font-size:1.7rem;
      }
    }
    }
 
}

